/* CSS Document */

/*Fuentes*/
@font-face {
	font-family: 'ArnoPro-Regular';
    src: url('../fonts/original_ArnoPro-Regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/original_ArnoPro-Regular.woff') format('woff'),
         url('../fonts/original_ArnoPro-Regular.ttf') format('truetype'),
         url('../fonts/original_ArnoPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	
}
@font-face{font-family: 'ArnoPro-Bold';
    src: url('../fonts/original_ArnoPro-Bold.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/original_ArnoPro-Bold.woff') format('woff'),
         url('../fonts/original_ArnoPro-Bold.ttf') format('truetype'),
         url('../fonts/original_ArnoPro-Bold.svg') format('svg');
	font-weight: bold;
	font-style: bold;}

@font-face {
	font-family: 'HelveticaNeueLT35';
    src: url('../fonts/original_HelveticaNeueLTCom-Th.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/original_HelveticaNeueLTCom-Th.woff') format('woff'),
         url('../fonts/original_HelveticaNeueLTCom-Th.ttf') format('truetype'),
         url('../fonts/original_HelveticaNeueLTCom-Th.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}	

@font-face {
    font-family: 'Helveticathin';
    src: url('../fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/HelveticaNeue-Thin.otf') format('otf'),
         url('../fonts/HelveticaNeue-Thin.ttf') format('truetype'),
         url('../fonts/HelveticaNeue-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.arnoregular{font-family: "ArnoPro-Regular";}
.arnobold, .navbar-default .navbar-nav>li>a.bold{font-family:"ArnoPro-Bold"; font-weight: bolder;}
.helveticathin{font-family:"Helveticathin"; font-weight:lighter;}
.helveticaregular{font-family: "Helvetica"; font-weight: normal; color:#000!important; line-height: 1.8em;}
.helveticabold{font-family: "Helvetica"; font-weight: bolder;} 
.preh1{font-size: 60px!important;}
.navbar-default .navbar-nav>li>a.active, a{color:#77B655!important;}

/*generales*/
.row{margin: 0px!important;}
.max-size-device, .row, .col-md-12 { max-width: 1680px; margin: 0px auto; }
.col-md-12 { padding: 0px!important; }
img { width: 100%; height: auto; }
.float-left { float: left; }
.float-right { float: right; }
.imagen-completa { margin-bottom: 50px; }
.deen {border-bottom: 1px solid white;}
.separate{width:210px; height: 1px; display: block; margin: 0px auto; background-color: #77B655;}
/*Header*/
.fixed-top{position: fixed; top:0; z-index:100000;}
header{background-color:#fff; padding:35px 12%; border-bottom: 1px solid #77B655;width:100%;}
header { height: 166px; }


/*Menu*/
header .navbar {margin:0px!important;}
header .navbrand-175{display:block; width: 100%; height: auto;}
header ul{margin:20px 2% 40px 2%!important;}
.navbar-nav>li>a{padding-top:50px; padding-right:2%; font-size:19px;}
.navbar-collapse{margin:0px; padding: 0px!important;}
.brand-header2_1680{display:block; width:210px; padding-top:28px!important;}
.navbar-header{float:none!important;}


header .navbar-default { background-color: #fff; border: none; }
header .navbar-brand { padding: 0px; margin: 0px;  }

header .row{margin:0px!important;}
.navbar-nav{float:none!important;}
.navbar-default{background: none!important;}
.navbar-default .navbar-nav>li{margin:0px!important; padding-top:50px; width:16%; text-align:center;}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover  {margin:0px; padding:0px;font-size:19px; font-family:"ArnoPro-Bold"; font-weight: bolder; color:#000!important;}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav a .light  {margin:0px; padding:0px;font-size:17px; font-family:"ArnoPro-Bold"; font-weight: lighter; color:#000!important;}

.brand-header2_1680, .brand-header2_1024, .brand-header2_768{display:none;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background: #fff;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-toggle {background-color: white!important; color: #77B655 !important;font-size: 2.2em;}
.de{padding-right:40px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{background:none!important; color:#77B655!important;}
/*Home*/
.row .text-center h1 {color: #77B655!important; font-size: 77px; padding-bottom: 60px; }
.row .text-center .texto-descriptivo { width: 70%; margin: 60px auto; font-size: 25px!important; }
.row .text-center .texto-descriptivo p { font-size: 25px; font-weight: bolder; }
.row .text-center .texto-descriptivo a { font-size: 25px; font-weight: bolder; color: #77b655; }


/*Footer*/
footer { border-top: 1px solid #77b655; padding: 25px 0px 50px 0px; background:#FFF; }
footer ul.text-center { width:720px; text-align: center; margin: 0px auto; }
footer ul li { padding-right: 80px; float: left; list-style: none; font-size: 14px; }
footer .brand-footer { display: none; }
.menu-celular {padding-left: 0px !important;}
.menu-celular div {font-size: 0.9em;}
.menu-celular div {padding-left: 0px !important;padding-right: 0px !important;}
.imagen-footer-celular {padding: 0px !important;}

/*Slider*/
.fa-outline-dark-gray {-webkit-text-stroke: 3px white; text-shadow: none;}

/*Kunstler*/
#kunstler .kunstler-mr{padding:0px 143px 70px 0px;}
#kunstler .kunstler-ml{padding:0px 0px 70px 143px;}
#kunstler{padding:70px 0px 15px 0px ;}
#kunstler .kunstler-mr a,#kunstler .kunstler-ml a{font-size:16px!important; font-family: "Helvetica"; font-weight:bolder;}
.name{font-size:24px;}
.lastname{font-size:28px;}

/*Kunstler Descripcion*/
#autor_descripcion{margin:70px 143px;}
#autor_descripcion h1{font-size:54px;}
#autor_descripcion #myCarousel{width: 720px; margin: auto;}
#autor_descripcion .item{width:720px;}
#autor_descripcion .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{right:0px;}
#autor_descripcion .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{font-size:100px!important;}
#autor_descripcion .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{left:-70px;}
#autor_descripcion .texto-descriptivo{margin-top:70px;}
#autor_descripcion h3{font-size:22px;}
#autor_descripcion p{font-size:18px;}
#autor_descripcion a{font-size:16px;}
#autor_descripcion .link{ margin: 35px 0px 55px 0px;}
#autor_descripcion .details{width:720px; text-align: justify; margin: auto;}
#autor_descripcion .details img{margin:35px 0px 85px 0px;}
#autor_descripcion .yt-container{margin:35px 0px;}

/*UBER-UNS*/
#uber-uns .texto-descriptivo{width:720px; margin: 0px auto 50px ;}
#uber-uns .texto-descriptivo h1{font-size:54px; padding:70px 0px 55px!important;}
#uber-uns .texto-descriptivo p{font-size:18px; text-align: justify; line-height: 1.8em;}
#uber-uns .texto-descriptivo img{padding:35px 0px;}

/*kontakt*/
#kontakt .texto-descriptivo{width: 720px; margin:70px auto 85px;}
#kontakt .texto-descriptivo h1{font-size:54px; padding:0px 0px 55px!important; color:#77B655;}
#kontakt .texto-descriptivo h3{font-size:24px!important; margin-top:0px!important; line-height: 1.8em;}
#kontakt .texto-descriptivo p{font-size:18px; }
#kontakt .texto-descriptivo .mapa{margin:35px 0px 45px 0px;}
#kontakt .texto-descriptivo img{margin-top:35px;}
 

/*Mínimo 1680px*/
 @media only screen and (min-width: 1680px) {
/*header-*/
header .navbar {margin:0px!important;}
header .navbrand-175{display:block; width: 100%; height: auto;}
header ul{margin:20px 2% 40px 2%!important;}
.navbar-nav>li>a{padding-top:50px; padding-right:2%; font-size:19px;}
.navbar-collapse{margin:0px; padding: 0px!important;}
.brand-header2_1680{display:block; width:210px; padding-top:28px!important;}

/*Galeria*/
.galeria {  padding-top: 100px;}
.galeria p{font-size:24px;}
.galeria p.autor{font-size:20px; font-weight: bolder;}
.galeria a{color:#77b655; font-size: 16px; text-align: center;}
#galerie{padding:100px 200px 0px 200px!important;}
#galerie img { display: inline-block; width: 348px!important; height: auto;}
.col-lg-4, .imagen-galeria{margin:0px!important; padding:0px!important;}
#galerie .item-galerie{width:348px; margin-bottom: 75px; float:left;}
#galerie .item-galerie.margin-right{margin-right:118px;}
#galerie .item-galerie .imagen-galeria{margin-bottom:25px!important;}
#galerie .item-galerie p{margin:0px!important;}
#galerie .autor{font-size:24px; line-height: 1em!important;}
#galerie .title{font-size:22px;}

/*Slider*/
.fa-outline-dark-gray { right: -50% !important;}
}




/*Minimo 1024px hasta 1680px*/
 @media only screen and (min-width: 900px) and (max-width: 1679px) {
 /*Header*/
header{padding:35px 5%;}
header .row{margin:0px!important;}
header .navbrand-148{display:block; width: 100%; height: auto;}
header ul{margin:20px 1% 40px!important;}
header .container-fluid, .navbar-collapse{margin:0px; padding: 0px!important;}
.navbar-default{background: none!important;}
.navbar-default .navbar-nav>li{width:16%; margin:0px!important; padding:20px 0px 0px 0px; text-align:center;}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover  {margin:0px; padding:0px;font-size:16px; font-family:"ArnoPro-Bold"; font-weight: bolder; color:#000!important;}
.brand-header2_1024{display:block; width:173px; padding-top:20px!important;}

/*Home*/
.row .text-center h1 { color: #77B655!important; font-size: 77px; padding-bottom: 35px; }
.row .text-center .texto-descriptivo { width: 70%; margin: 35px auto; font-size: 25px; }
.row .text-center .texto-descriptivo p { font-size: 25px; font-weight: bolder; }
.row .text-center .texto-descriptivo a { font-size: 25px; font-weight: bolder; color: #77b655; }
.imagen-completa { margin-bottom: 40px; }

/*Footer*/
footer { border-top: 1px solid #77b655; padding: 20px 0px 30px 0px; }
footer ul.text-center { text-align: center; width: 720px; margin: 0px auto; }
footer ul li { padding-right: 80px; float: left; list-style: none; font-size: 14px; }

/*Galeria*/
#galerie{padding:200px 4%!important;}
#galerie img { display: inline-block; height: auto;}
#galerie .item-galerie{width:30%; margin-bottom: 75px; float:left;}
#galerie .item-galerie img{width:100%;}
#galerie .item-galerie .imagen-galeria{margin-bottom:25px!important;}
#galerie .item-galerie.margin-right{margin-right:5%;}
#galerie .item-galerie p{margin:0px!important;}
#galerie .autor{font-size:24px; line-height: 1em!important;}
#galerie .title{font-size:22px;}
.col-lg-4, .imagen-galeria{margin:0px!important; padding:0px!important;}

/*kontakt*/
#kontakt .texto-descriptivo{width: 720px; margin:70px auto 85px;}
#kontakt .texto-descriptivo h1{font-size:54px; padding:0px 0px 55px!important; color:#77B655;}
#kontakt .texto-descriptivo h3{font-size:24px!important; margin-top:0px!important; line-height: 1.8em;}
#kontakt .texto-descriptivo p{font-size:18px; }
#kontakt .texto-descriptivo .mapa{margin:35px 0px 45px 0px;}
#kontakt .texto-descriptivo img{margin-top:35px;}

/*Slider*/
.fa-outline-dark-gray { right: -50% !important;}
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
 /*Header*/
header{padding:35px 3% 0px; height:auto;}
header .row{margin:0px!important;}
header .navbrand-148{display:block; height: auto;}
header .navbrand-148 img{width:190px;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{margin-left:0px!important;}
header .navbar { margin: 0px!important; }
header .container-fluid, .navbar-collapse{margin:0px; padding: 0px!important;}
header ul{margin:20px 0px!important;}
.navbar-default .navbar-nav>li{margin:0px; width:16%; text-align:center; padding-top:40px!important;}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover  {margin:0px; padding:0px;font-size:16px; font-family:"ArnoPro-Bold"; font-weight: bolder; color:#000!important;}
.brand-header2_768{display:block; width:220px; position:absolute; right:60px; top:-60px;}
.brand-header2_1024{display:none; }

/*Home*/
.imagen-completa{margin-top:0px!important; margin-bottom: 50px;}
.imagen-completa  img{height:362px!important;  }
.preh1{font-size:1em!important;}
.pre2{font-size:1.2em!important;}
.row .text-center h1 { color: #77B655!important; font-size: 70px; line-height:0.9em; }
.row .text-center .texto-descriptivo { width: 92%;  margin: 50px 4%; font-size: 25px; }
.row .text-center .texto-descriptivo p { font-size: 1em; color:#000; font-weight: bolder; }
.row .text-center .texto-descriptivo a { font-size: 20px; font-weight: bolder; color: #77b655; }

/*Kunstler*/
#kunstler .col-md-6{width:50%; float: left;}
#kunstler .kunstler-mr{padding:0px 50px 50px 0px;}
#kunstler .kunstler-ml{padding:0px 0px 50px 50px;}
#kunstler{padding:70px 0px 15px 0px ;}
#kunstler .kunstler-mr a,#kunstler .kunstler-ml a{font-size:14px!important; font-family: "Helvetica"; font-weight:bolder;}
.name{font-size:23px;}
.lastname{font-size:27px;}

/*Kunstler Descripcion*/
#autor_descripcion{margin:40px 0px;}
#autor_descripcion h1{font-size:54px;}
#autor_descripcion #myCarousel{width: 560px; height: auto; margin: auto;}
#autor_descripcion .item{width:560px;}
#autor_descripcion .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{right:-40px;}
#autor_descripcion .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{font-size:50px!important;}
#autor_descripcion .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{left:-70px;}
#autor_descripcion .texto-descriptivo{margin-top:25px;}
#autor_descripcion h3{font-size:20px;}
#autor_descripcion p{font-size:16px;}
#autor_descripcion a{font-size:16px;}
#autor_descripcion .link{ margin: 30px 0px 45px 0px;}
#autor_descripcion .details{width:100%; padding:0px 20px; text-align: justify; margin: auto;}
#autor_descripcion .details img{margin:35px 0px 65px 0px;}
#autor_descripcion .yt-container{margin:25px 0px;}

/*UBER-UNS*/
#uber-uns .texto-descriptivo{width:720px; margin: 0px auto 5px ;}
#uber-uns .texto-descriptivo h1{font-size:36px; padding:35px 0px 30px!important;}
#uber-uns .texto-descriptivo p{font-size:18px; text-align: justify; line-height: 1.8em;}
#uber-uns .texto-descriptivo img{padding:25px 0px;}

/*Footer*/
footer { border-top: 1px solid #77b655; padding: 20px 0px 30px 0px; margin: 0px 5%; width:90% }
footer ul.text-center {padding:0px!important; text-align: center; width: 100%; margin: 0px auto; }
footer ul li { width:25%; padding:0px; text-align:center; float: left; list-style: none; font-size: 14px; }

/*Galeria*/
#galerie{margin:0px 5% 0px 5%!important;}
#galerie img { height:auto; }
#galerie .item-galerie{width:50%; height:380px; margin-bottom: 75px; float:left;}
#galerie .item-galerie.margin-right{margin-right: 0px;}
#galerie .item-galerie .imagen-galeria{margin:0px 20px 25px 20px!important; display: flex; min-height:179px; max-height:300px;}
#galerie .item-galerie p{margin:0px!important;}
#galerie .autor{font-size:16px; line-height: 1em!important;}
#galerie .title{font-size:16px;}
.col-lg-4, .imagen-galeria{margin:0px!important; padding:0px!important;}
}

/*Minimo 320 hasta 768px*/
 @media only screen and (min-width: 320px) and (max-width: 767px) {
 
header{padding:20px 15px;  height: 90px;}
header .row{margin:0px!important;}
header .container-fluid{padding:0px;}
header .navbrand-90{display:block; width: 100%; margin-top:-50px;}
header .navbar-brand img { width: 90px; position:absolute; top:0px;}
ul.navbar-nav{ -webkit-margin-before:0px!important;  -webkit-margin-after:0px!important;     -webkit-padding-start: 40px;
:0px!important;}
ul.nav.navbar-nav{margin:0px;    position: relative;
    z-index: 100000; background-color:#77B655; width:100%; padding:20px 0px 20px 0px; text-align:center; }
ul.nav.navbar-nav li{font-size:24px; text-align:center; color:#fff;}   
.navbar-default .navbar-nav>li{width:100%; padding:20px 0px;}
ul.nav.navbar-nav li a{color:#fff;}
.navbar-default .navbar-toggle{border:none;}
.col-md-8{width:100%; padding:0px!important; margin:0px!important;}
.navbar-collapse.in{overflow:hidden;}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header { margin: 0px!important; }
.navbar-toggle {padding:0px!important; position: relative; float: right;  background-color: none; background-image: none; z-index: 10000000; }
.navbar-default .navbar-toggle .icon-bar { background-color: #77b655!important; }
.navbar-default .navbar-collapse{margin-left:-20px!important;}
/*Menu*/
.navbar-nav li{width:100%; text-align:center;}
.navbar-nav li a span {color:white !important;}
.menu-list {color: #FFF !important;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-toggle {
background-color: white;
color: #77B655 !important;
font-size: 2.2em;
}



/*Home*/
.imagen-completa img { width: 100%!important; height: 148px;}
.preh1{font-size:1em!important;}
.row .text-center h1 { color: #77B655!important; font-size: 30px; padding-bottom: 25px; }
.row .text-center .texto-descriptivo { width: 100%; margin: 25px auto; padding: 0px 8%; font-size: 25px; }
.row .text-center .texto-descriptivo p { font-size: 16px; font-weight: bolder; }
.row .text-center .texto-descriptivo a { font-size: 16px; font-weight: bolder; color: #77b655; }
.imagen-completa { margin-bottom: 20px; }


/*Footer*/
footer { border-top: 1px solid #77b655; padding: 20px 0px 30px 0px; margin: 0px 20px; }
footer ul.text-center { text-align: left; width: 85%; margin: 0px auto; }
footer ul li { padding-right: 37px; float: left; list-style: none; font-size: 10px; }
header .logo2, header .brand-header2 { display: none; }
footer .brand-footer, header .navbar-brand90 { display: block; width:80%; float:right;}
footer .brand-footer img{width:auto; height: 50px; float:right;}

/*Kunstler*/
#kunstler .col-md-6{width:100%; float: left;}
#kunstler .kunstler-mr{padding:0px 0px 50px 0px;}
#kunstler .kunstler-ml{padding:0px 0px 50px 0px;}
#kunstler{padding:70px 0px 15px 0px ;}
#kunstler .kunstler-mr a,#kunstler .kunstler-ml a{font-size:14px!important; font-family: "Helvetica"; font-weight:bolder;}
.name{font-size:23px;}
.lastname{font-size:27px;}

/*Kunstler Descripcion*/
#autor_descripcion{margin:40px 0px;}
#autor_descripcion h1{font-size:20px;}
#autor_descripcion #myCarousel{width: 220px; height: auto; margin: auto;}
#autor_descripcion .item{width:220px;}
#autor_descripcion .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{right:-40px;}
#autor_descripcion .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{font-size:50px!important;}
#autor_descripcion .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{left:-40px;}
#autor_descripcion .texto-descriptivo{margin-top:25px;}
#autor_descripcion h3{font-size:18px;}
#autor_descripcion p{font-size:14px;}
#autor_descripcion a{font-size:14px;}
#autor_descripcion .link{ margin: 20px 0px 30px 0px;}
#autor_descripcion .details{width:100%; padding:0px 20px; text-align: justify; margin: auto;}
#autor_descripcion .details img{margin:35px 0px 85px 0px;}
#autor_descripcion .yt-container{margin:15px 0px;}
#autor_descripcion .yt-container iframe{width:100%!important;}
.esconder{display: none;}

/*Galeria*/
#galerie{margin:0px 10px 0px 10px!important;}
#galerie h1{margin:0px!important; color:#77B655; padding-bottom:20px;}
#galerie img { display: inline-block; width: 100%; height: auto;}
#galerie .item-galerie{width:100%; margin-right:10px;margin-bottom: 35px;}
#galerie .item-galerie .imagen-galeria{margin-bottom:25px!important;}
#galerie .item-galerie p{margin:0px!important;}
#galerie .autor{font-size:16px; line-height: 1em!important;}
#galerie .title{font-size:16px;}
.col-lg-4, .imagen-galeria{margin:0px!important; padding:0px!important;}

/*UBER-UNS*/
#uber-uns .texto-descriptivo{width:100%; margin: 0px auto 5px ;}
#uber-uns .texto-descriptivo h1{font-size:36px; padding:40px 0px 30px!important;}
#uber-uns .texto-descriptivo p{font-size:14px; text-align: justify; line-height: 1.8em;}
#uber-uns .texto-descriptivo img{padding:15px 0px;}

/*kontakt*/
#kontakt .texto-descriptivo{width: 100%; margin:40px auto 60px;}
#kontakt .texto-descriptivo h1{font-size:36px; padding:0px 0px 30px!important; color:#77B655;}
#kontakt .texto-descriptivo h3{font-size:24px!important; margin-top:0px!important; line-height: 1.8em;}
#kontakt .texto-descriptivo p{font-size:18px; }
#kontakt .texto-descriptivo .mapa{margin:35px 0px 45px 0px;}
#kontakt .texto-descriptivo img{margin-top:35px;}
}

